In [2]:
import mysql.connector
from mysql.connector import Error

In [5]:
db_config = {
    'host':'localhost',
    'user':'root',
    'password':'Pyt@2024.1'
}

In [6]:
connection = mysql.connector.connect(**db_config)

In [7]:
def execute_query(query):
    cursor = connection.cursor()
    cursor.execute(query, multi=True)
    connection.commit()
    cursor.close()

In [23]:
# CREATE DATABASE IF NOT EXISTS edu_instute
with open("database.sql", "w") as file:
    create_db = """-- Creating database named edu_institute if not exists

CREATE DATABASE IF NOT EXISTS edu_institute;"""
    execute_query(create_db)
    file.write(create_db)
    file.close()

In [24]:
with open("database.sql", "a") as file:
    create_table_in_db = """

-- Using the database to create a table named students
USE edu_institute;

-- Create table students
CREATE TABLE IF NOT EXISTS students (
	student_id INT PRIMARY KEY,
	name VARCHAR(50),
	age INT,
	gender CHAR(1),
	enrollment_date DATE,
	program VARCHAR(50)
);
    """
    execute_query(create_table_in_db)
    file.write(create_table_in_db)

In [25]:
file = open("database.sql", "a")
insert_data_to_columns = """
-- Altering the table to add data into the columns
INSERT INTO students VALUES
	(1, "Linda Sumbati", 25, "F", "2022-03-04", "Computer Science"),
    (2, "Sharon Cherop", 26, "F", "2022-03-04", "Data Science"),
    (3, "Benedict Njue", 24, "M", "2022-03-04", "Data Science"),
    (4, "Dabraham Immorah", 23, "M", "2022-03-04", "Software Engineering"),
    (5, "Dan Njuguna", 22, "M", "2022-03-04", "Cloud Security");
"""
execute_query(insert_data_to_columns)
file.write(insert_data_to_columns)
file.close()

In [26]:
file = open("database.sql", "a")
query_data = """
-- a query to select all columns for all students in the "Data Science" program.
SELECT * FROM students WHERE program = "Data Science";
"""
execute_query(query_data)
file.write(query_data)
file.close()

In [27]:
file = open("database.sql", "a")
student_count = """
-- a query to find the total number of students and display it as Total Students.
SELECT COUNT(*) AS "Total Students" FROM students;
"""
execute_query(student_count)
file.write(student_count)
file.close()

In [28]:
file = open("database.sql", "a")
today_date = """
-- Function Usage
-- Function to display todays date in a column named Today's Date
SELECT CURRENT_DATE() AS "Today's Date";
"""
execute_query(today_date)
file.write(today_date)
file.close()

In [29]:
file = open("database.sql", "a")
uppercase_name = """
--  a query to select the student names and their enrolment dates, but display the name column in uppercase
SELECT UPPER(name) AS name, enrollment_date FROM students;
"""
execute_query(uppercase_name)
file.write(uppercase_name)
file.close()

In [30]:
file = open("database.sql", "a")
no_of_students = """
-- a query to count the number of students in each program and display the results in descending order of count. Name the count column as Number of Students
SELECT program, COUNT(*) AS "Number of Students" 
FROM students
GROUP BY program
ORDER BY COUNT(*) DESC;
"""
execute_query(no_of_students)
file.write(no_of_students)
file.close()

In [31]:
file = open("database.sql", "a")
youngest_student = """
-- a query to find the youngest student's name and age.
SELECT name, age
FROM students
ORDER BY age ASC
LIMIT 1;
"""
execute_query(youngest_student)
file.write(youngest_student)
file.close()