In [29]:
import mysql.connector
from mysql.connector import Error

In [23]:
db_config = {
    'host':'localhost',
    'user':'root',
    'password':'1234567890'
}

In [24]:
connection = mysql.connector.connect(**db_config)

In [25]:
def execute_query(query):
    cursor = connection.cursor()
    cursor.execute(query, multi=True)
    connection.commit()
    cursor.close()

In [28]:
# CREATE DATABASE IF NOT EXISTS edu_instute
with open("database.sql", "w") as file:
    sql_data = """CREATE DATABASE IF NOT EXISTS edu_institute;

# Using the database to create a table named students
USE edu_institute;

# Create table students
CREATE TABLE IF NOT EXISTS students (
	student_id INT PRIMARY KEY,
	name VARCHAR(50),
	age INT,
	gender CHAR(1),
	enrollment_date DATE,
	program VARCHAR(50)
);
# Altering the table to add data into the columns
INSERT INTO students VALUES
	(1, "Linda Sumbati", 25, "F", "2022-03-04", "Computer Science"),
    (2, "Sharon Cherop", 26, "F", "2022-03-04", "Data Science"),
    (3, "Benedict Njue", 24, "M", "2022-03-04", "Data Science"),
    (4, "Dabraham Immorah", 23, "M", "2022-03-04", "Software Engineering"),
    (5, "Dan Njuguna", 22, "M", "2022-03-04", "Cloud Security");

# UPDATE students SET program = "Data Science" WHERE student_id = 3;
-- a query to select all columns for all students in the "Data Science" program.
SELECT * FROM students WHERE program = "Data Science";

-- a query to find the total number of students and display it as Total Students.
SELECT COUNT(*) AS "Total Students" FROM students;

-- Function Usage
# Function to display todays date in a column named Todays Date
SELECT CURRENT_DATE() AS "Today's Date";

--  a query to select the student names and their enrolment dates, but display the name column in uppercase
SELECT UPPER(name) AS name, enrollment_date FROM students;

-- a query to count the number of students in each program and display the results in descending order of count. Name the count column as Number of Students
SELECT program, COUNT(*) AS "Number of Students" 
FROM students
GROUP BY program
ORDER BY COUNT(*) DESC;

-- a query to find the youngest student's name and age.
SELECT name, age
FROM students
ORDER BY age ASC
LIMIT 1;
"""
    file.write(sql_data)
    file.close()

In [27]:
file_to_query = open("database.sql", "r")
query = file_to_query.read()
file_to_query.close()
execute_query(query)