<h4><u> Querying Data from MySQL and manipulating the data in the table queried.</u></h4>
<p> Importing modules</p>

In [42]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine, text

<h4>Login Credentials to connect to MySQL server</h4>

In [43]:
db_config = {
    'host':'localhost',
    'user':'root',
    'password': 'Pyt@2024.1'
}

In [44]:
# Creating SQLAlchemy Engine Connection to use read_sql() without pd warnings for "UserWarning".
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/edu_institute", echo=True)

<p>Creating a connection to Local MySQL Server and storing the returned result in a variable <i>connection</i>.</p>

In [45]:
# Creating a connection to the mysql server
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Connected to the Server")

except Error as err:
    print(f"Error: '{err}'")

Connected to the Server

<p>This function executes any query passed to it as an argument on the SQL server and commits the change to the server.</p>
<p>Definitions: </p>
<ul>
<li>execute_query - executes query on Local MySQL server when it has successfully connected to server.</li>
<li>@query: The command to be queried into the MySQL</li>
<li>Return: Nothing</li>
</ul>

In [46]:
def execute_query(query):
    cursor = connection.cursor()
    cursor.execute(query, multi=True)
    connection.commit()
    print("Query executed Successfully!")
    cursor.close()

<p>Creating the database "<i>edu_institute</i>" if it does not exists</p>
<p>The Query is also written into another file named "database.sql" to keep a track of the commands run on the MySQL server for this query.</p>

In [47]:
# CREATE DATABASE IF NOT EXISTS edu_instute
with open("database.sql", "w") as file:
    create_db = """-- Creating database named edu_institute if not exists

CREATE DATABASE IF NOT EXISTS edu_institute;"""
    execute_query(create_db)
    file.write(create_db)
    file.close()

Query executed Successfully!

<p>Using the database created to create a table "students" and append the query made into "database.sql" file created.</p>
<p>The table is created with six columns</p>

In [48]:
file = open("database.sql", "a")
use_db = """

-- Using the database to create a table named students
USE edu_institute;
"""
create_table_in_db = """-- Create table students
CREATE TABLE IF NOT EXISTS students (
	student_id INT PRIMARY KEY,
	name VARCHAR(50),
	age INT,
	gender CHAR(1),
	enrollment_date DATE,
	program VARCHAR(50)
);
    """
execute_query(use_db)
execute_query(create_table_in_db)
file.write(use_db)
file.write(create_table_in_db)
file.close()

Query executed Successfully!
Query executed Successfully!

<p>Insert students data into the columns in the table "students".</p>

In [49]:
file = open("database.sql", "a")
insert_data_to_columns = """
-- Altering the table to add data into the columns
INSERT INTO students VALUES
	(1, "Linda Sumbati", 25, "F", "2022-03-04", "Computer Science"),
    (2, "Sharon Cherop", 26, "F", "2022-03-04", "Data Science"),
    (3, "Benedict Njue", 24, "M", "2022-03-04", "Data Science"),
    (4, "Dabraham Immorah", 23, "M", "2022-03-04", "Software Engineering"),
    (5, "Dan Njuguna", 22, "M", "2022-03-04", "Cloud Security");
"""
execute_query(insert_data_to_columns)
file.write(insert_data_to_columns)
file.close()

Query executed Successfully!

<p>Selecting all students who have "Data Science" as their program</p>

In [50]:
file = open("database.sql", "a")
query_data = """
-- a query to select all columns for all students in the "Data Science" program.
SELECT * FROM students WHERE program = "Data Science";
"""
execute_query(query_data)
file.write(query_data)
file.close()
query = "SELECT * FROM edu_institute.students WHERE program = 'Data Science';"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
   student_id           name  age gender enrollment_date       program
0           2  Sharon Cherop   26      F      2022-03-04  Data Science
1           3  Benedict Njue   24      M      2022-03-04  Data Science

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\343011194.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

<p>Counting the total number of students in the class and naming the new column Total Students</p>
<p>All queries are appended into the database.sql file</p>

In [51]:
file = open("database.sql", "a")
student_count = """
-- a query to find the total number of students and display it as Total Students.
SELECT COUNT(*) AS "Total Students" FROM students;
"""
execute_query(student_count)
file.write(student_count)
file.close()
query = "SELECT COUNT(*) AS 'Total Students' FROM edu_institute.students;"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\238736822.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

   Total Students
0               5

<p>Display today's date in a column named "Today's Date" then the query is appended to the database.sql file</p>

In [52]:
file = open("database.sql", "a")
today_date = """
-- Function Usage
-- Function to display todays date in a column named Today's Date
SELECT CURRENT_DATE() AS "Today's Date";
"""
execute_query(today_date)
file.write(today_date)
file.close()
query = "SELECT CURRENT_DATE() AS 'Today''s Date';"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
  Today's Date
0   2024-03-15

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\1397411906.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [53]:
file = open("database.sql", "a")
uppercase_name = """
--  a query to select the student names and their enrolment dates, but display the name column in uppercase
SELECT UPPER(name) AS name, enrollment_date FROM students;
"""
execute_query(uppercase_name)
file.write(uppercase_name)
file.close()
query = "SELECT UPPER(name) AS name, enrollment_date FROM edu_institute.students;"
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
               name enrollment_date
0     LINDA SUMBATI      2022-03-04
1     SHARON CHEROP      2022-03-04
2     BENEDICT NJUE      2022-03-04
3  DABRAHAM IMMORAH      2022-03-04
4       DAN NJUGUNA      2022-03-04

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\550626356.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

<p>This counts the number of students per program and arranges them in descending order for the number of students enrolled to each program</p>

In [54]:
file = open("database.sql", "a")
no_of_students = """
-- a query to count the number of students in each program and display the results in descending order of count. Name the count column as Number of Students
SELECT program, COUNT(*) AS "Number of Students" 
FROM students
GROUP BY program
ORDER BY COUNT(*) DESC;
"""
execute_query(no_of_students)
file.write(no_of_students)
file.close()
query = """SELECT program, COUNT(*) AS "Number of Students" 
FROM edu_institute.students
GROUP BY program
ORDER BY COUNT(*) DESC;"""
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\1475099891.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

                program  Number of Students
0          Data Science                   2
1      Computer Science                   1
2  Software Engineering                   1
3        Cloud Security                   1

<p>Getting the name of the youngest student and age.</p>

In [55]:
file = open("database.sql", "a")
youngest_student = """
-- a query to find the youngest student's name and age.
SELECT name, age
FROM students
ORDER BY age ASC
LIMIT 1;
"""
execute_query(youngest_student)
file.write(youngest_student)
file.close()
query = """SELECT name, age
FROM edu_institute.students
ORDER BY age ASC
LIMIT 1;"""
df = pd.read_sql(query, connection)
print(df)

Query executed Successfully!
          name  age
0  Dan Njuguna   22

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\55818845.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [56]:
# Displaying all the contents of the table "students" in the "edu_institute" database.

query = "SELECT * FROM edu_institute.students;"
df = pd.read_sql(query, connection)
print(df)

   student_id              name  age gender enrollment_date  \
0           1     Linda Sumbati   25      F      2022-03-04
1           2     Sharon Cherop   26      F      2022-03-04
2           3     Benedict Njue   24      M      2022-03-04
3           4  Dabraham Immorah   23      M      2022-03-04
4           5       Dan Njuguna   22      M      2022-03-04

                program
0      Computer Science
1          Data Science
2          Data Science
3  Software Engineering
4        Cloud Security

C:\Users\njugu\AppData\Local\Temp\ipykernel_11940\474759525.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)